---
import { SITE } from 'astrowind:config';
import logoSvg from '~/assets/favicons/favicon.svg';
---

<span
  class="self-center flex items-center gap-2 ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src={logoSvg.src} alt="" class="h-7 w-7 md:h-6 md:w-6 rounded" aria-hidden="true" />
  <span data-lang-zh="讯飞开源" data-lang-en="iFLYTEK Open Source">{SITE?.name}</span>
</span>
