---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        {post.translation ? (
          <>
            <div class="i18n-zh">
              <Item post={post} />
            </div>
            <div class="i18n-en">
              <Item post={post.translation} />
            </div>
          </>
        ) : (
          <Item post={post} />
        )}
      </li>
    ))
  }
</ul>
